{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-5">
    <h1 class="titleRecipe rounded text-center pt-2">Mes Services</h1>
</div>
<div class="container">
    <div class="row">
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3 href="#"> Évaluations nutritionnelles</h3>
        </div>
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3>Repas personnalisé</h3>
        </div>
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3>Gestion du poids</h3>
        </div>
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3>Gestion des maladies</h3>
        </div>
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3>Éducation nutritionnelle</h3>
        </div>
        <div class="mainServices rounded d-flex justify-content-center col-md-6 mt-5">
            <h3>Nutrition sportive</h3>
        </div>
    </div>
</div>
{% endblock %}
