{% extends 'base.html.twig' %}

{% block title %}Hello PrivacyPolicyController!{% endblock %}

{% block body %}
<div class="container d-block justify-content-center col-md-8 mentions">
    <div class="d-flex justify-content-center mt-5 pt-2 mx-3">
        <h1 class="rounded text-center pt-2">Politique de confidentialité</h1>
    </div>
        <div class="text-justified mt-3">
            <p>Dernière mise à jour : [Date de la dernière mise à jour]</p>
            <ol>
                <li><h3>Introduction</h3></li>
                <p>Bienvenue sur [Nom du site] (ci-après dénommé "le Site"). 
                    La protection de vos données personnelles est une priorité pour nous. 
                    Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles. 
                    En utilisant le Site, vous acceptez les conditions de la présente politique de confidentialité.
                </p>
                
                <li><h3>Données collectées</h3></li>
                <p>Nous pouvons collecter les catégories de données personnelles suivantes lorsque vous interagissez avec le Site :
                    <ul>
                        <li>Informations d'identification (nom, prénom, adresse e-mail, etc.)</li>
                        <li>Informations de contact (adresse postale, numéro de téléphone, etc.)</li>
                        <li>Données de connexion (adresse IP, données de navigation, cookies, etc.)</li>
                        <li>Informations transactionnelles (détails de paiement, historique d'achat, etc.)</li>
                        <li>Autres informations que vous choisissez de nous fournir.</li>
                    </ul>
                </p>
                <li><h3>Utilisation des données</h3></li>
                <p>Nous utilisons vos données personnelles aux fins suivantes :</p>
                    <ul>
                        <li>Fourniture de produits ou services demandés</li>
                        <li>Gestion de votre compte sur le Site</li>
                        <li>Réponse à vos questions ou demandes</li>
                        <li>Personnalisation de votre expérience sur le Site</li>
                        <li>Envoi de communications marketing (si vous avez donné votre consentement)</li>
                        <li>Amélioration de nos produits et services</li>
                        <li>Respect des obligations légales.</li>
                    </ul>
                    <br>
                <li><h3>Partage des données</h3></li>
                <p>Nous pouvons partager vos données personnelles avec des tiers dans les circonstances suivantes :</p>
                    <ul>
                        <li>Lorsque nous utilisons des fournisseurs de services tiers pour nous aider à traiter vos données personnelles (par exemple, hébergement ou paiement)</li>
                        <li>Lorsque nous sommes tenus de le faire par la loi</li>
                        <li>Lorsque nous estimons que cela est nécessaire pour protéger nos droits ou ceux de tiers.</li>
                    </ul>
                    <br>
                <li><h3>Sécurité des données</h3></li>
                <p>Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre la perte, 
                    l'accès non autorisé, la divulgation, l'altération ou la destruction. Cependant, 
                    aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée.
                </p>

                <li><h3>Cookies et technologies similaires</h3></li>
                <p>Nous utilisons des cookies et des technologies similaires pour collecter des informations sur vos préférences 
                    et votre comportement de navigation. 
                    Pour en savoir plus sur notre utilisation des cookies et la gestion de vos préférences, 
                    veuillez consulter notre politique en matière de cookies.
                </p>

                <li><h3>Droits des utilisateurs</h3></li>
                <p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, 
                    de les supprimer ou de vous opposer à leur traitement. 
                    Vous pouvez exercer ces droits en nous contactant à [Adresse e-mail de contact].
                </p>
                <li><h3>Modifications de la politique de confidentialité</h3></li>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. 
                    Toute modification sera publiée sur le Site, et la date de la dernière mise à jour sera indiquée en haut du document.
                </p>
                <li><h3>Contact</h3></li>
                <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à [Adresse e-mail de contact].
                    Fait à [Lieu], le [Date de rédaction].
                </p>
            </ol>
        </div>

    
</div>
{% endblock %}
